<form method="post" action="{{ path('app_time_frame_delete', {'id': time_frame.id}) }}" onsubmit="return confirm('Sind Sie sich sicher, dass Sie das Zeitfenster löschen wollen?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ time_frame.id) }}">
    <button class="btn btn-danger">Löschen</button>
</form>
