{% extends 'backend/base.html.twig' %}

{% block additional_head %}
    <!-- bootstrap-table CSS with all used extensions -->
    {{ hello_bootstrap_table_css() }}

    <!-- bootstrap-table JS with all used extensions -->
    {{ hello_bootstrap_table_js() }}
{% endblock %}

{% block page_title %}
    <div class="page-title">
        <div class="title_left">
            <h3>Zeitfenster <small>Übersicht</small></h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 text-right align-bottom form-group pull-right">
                <a class="btn btn-secondary" href="{{ path('app_time_frame_new') }}">Neues Zeitfenster anlegen</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel tile">
            <div class="x_content">
                {{ hello_bootstrap_table_render(table) }}
            </div>
        </div>
    </div>
{% endblock %}
