<!DOCTYPE html>

<title>New TimeFrame</title>

{% block body %}
    <h1>Create new TimeFrame</h1>

    {{ include('backend/time_frame/_form.html.twig') }}

    <a href="{{ path('app_time_frame_index') }}">back to list</a>
{% endblock %}
