<!DOCTYPE html>

<title>Edit Appointment</title>

{% block body %}
    <h1>Edit Appointment</h1>

    {{ include('backend/appointment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_appointment_index') }}">back to list</a>

    {{ include('backend/appointment/_delete_form.html.twig') }}
{% endblock %}
