<!DOCTYPE html>

<title>New Appointment</title>

{% block body %}
    <h1>Create new Appointment</h1>

    {{ include('backend/appointment/_form.html.twig') }}

    <a href="{{ path('app_appointment_index') }}">back to list</a>
{% endblock %}
