{% extends 'frontend/base.html.twig' %}

{% block content %}
    <p class="text-center h2 fw-bold mb-5 mx-1 mx-md-4 mt-4">Login</p>

    {% if error %}

        <div class="alert alert-danger" role="alert">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post">

        <!-- Email input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="username">Benutzername</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" />
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="password">Passwort</label>
            <input type="password" id="password" name="_password" class="form-control" />

        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Anmelden</button>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    </form>
{% endblock %}