<form method="post" action="{{ path('app_school_class_delete', {'id': school_class.id}) }}" onsubmit="return confirm('Sind Sie sich sicher, dass Sie die Klasse löschen wollen?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ school_class.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
