{% extends 'backend/base.html.twig' %}

{% block page_title %}
    <div class="page-title">
        <div class="title_left">
            <h3>Klassen <small>Übersicht</small></h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 text-right align-bottom form-group pull-right">
                <a class="btn btn-secondary" href="{{ path('app_school_class_new') }}">Neue Klasse anlegen</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel tile">
            <div class="x_content">
                {% include 'backend/school_class/_school_classes.html.twig' with {'school_classes': school_classes} %}
            </div>
        </div>
    </div>
{% endblock %}
