{% block topnav %}
<div class="nav_menu">
    <div class="nav toggle">
        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
    </div>
    <nav class="nav navbar-nav">
        <ul class=" navbar-right">
            <li class="nav-item dropdown open" style="padding-left: 15px;">
                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">

                </a>
                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fa fa-sign-out pull-right"></i> Abmelden</a>
                    <a class="dropdown-item" href="{{ path('app_backend_password_change') }}"><i class="pull-right"></i> Passwort ändern</a>
                    <a class="dropdown-item" href="#"><i class="pull-right"></i> Impressum</a>
                    <a class="dropdown-item" href="#"><i class="pull-right"></i> Datenschutzerklärung</a>
                </div>
            </li>
            <div class="d-md-none" >
                <strong>Sprechtag BBS</strong>
            </div>
        </ul>
    </nav>

</div>
{% endblock %}
