<form method="post" action="{{ path('app_teacher_delete', {'id': teacher.id}) }}" onsubmit="return confirm('Sind Sie sich sicher, dass Sie die Lehrkraft löschen wollen?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ teacher.id) }}">
    <button class="btn btn-danger">Löschen</button>
</form>
