{% extends 'frontend/base.html.twig' %}

{% block content %}
    <p class="text-center h2 fw-bold mb-5 mx-1 mx-md-4 mt-4">Anmeldung zum Eltern- und Ausbildersprechtag</p>

    <p class="text-center h5 mb-5 mx-1 mx-md-4 mt-4">am Donnerstag, 30.11.2023</p>

    <form class="mx-1 mx-md-4" action="{{ path('app_select_time_frame') }}" method="get">

        <p>Sie wünschen einen Termin für den Eltern- und Ausbildersprechtag, dann wählen sie eine Lehrkraft aus, mit der Sie einen Termin vereinbaren wollen:</p>

        <div class="d-flex flex-row align-items-center mb-4">
            <div class="form-outline flex-fill mb-0">
                {{ form_row(form.teacher) }}
            </div>
        </div>

        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
            <button type="submit" class="btn btn-primary btn-lg">Weiter</button>
        </div>

    </form>
{% endblock %}

{% block css_additional %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">
    <!-- select2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" integrity="sha256-FdatTf20PQr/rWg+cAKfl6j4/IY3oohFAJ7gVC3M34E=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css">

{% endblock %}
{% block javascript_additional %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/i18n/de.js"></script>
    <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
{% endblock %}