<header class="border-b border-gray-300">
    <div class="max-w-[66%] mx-auto">
        <div>
            <a href="{{ path('app_homepage') }}">
                <img width="262" src="{{ asset('images/logos/logo.png') }}" />
            </a>
        </div>
    </div>
</header>